<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artmanager.artmanager" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.artmanager.artmanager.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
                android:name="com.parse.APPLICATION_ID"
                android:value="ut3YMG7a44H5Kys1cQKioWLILcv0TWcSUQoDzvxr" />
        <meta-data
                android:name="com.parse.CLIENT_KEY"
                android:value="5hFMKeXvwBRhWHe5bKurLT5SZXjxkugQRxJwSHF4" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
